doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PetFlix
        link(rel="stylesheet", href="./stylesheets/contact.css", type="text/css")
   
    body
        .header
            
            #logo
                img(src="./images/index/logoFull.webp" alt="logo")
            
            
        main
            div(class="container-contact")
                h2 Formulaire de contact
                form(action="/contact", method='POST')
                    label(for='fname') Votre nom :
                        input#fname(type='text' name='fname')

                    label(for='fmail') Votre adresse mail:
                        input#fname(type='email' name='fmail')
                    
                    label(for='fobjet') Vous nous contactez pour :
                        select#objet(name='fobjet')
                            option(value='information') Obtenir des informations
                            option(value='plaintes') Formuler une plainte
                            option(value='autre') Pour d&apos;autres informations

                    textarea.p-2(name='fmessage', rows='10', cols='100')
                        | Votre message 
                
                    button.button Envoyer

        footer
            
            nav
                a(href="https://github.com/KarlVand/Petflix" target="blank") Github
                a(href="/contact") Nous contacter
                a(href="#") Confidentialité

