doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PetFlix
        link(rel="stylesheet", href="./stylesheets/homeStyle.css", type="text/css")
   
    body
        div(class="header")
            
            #logo
                img(src="../public/images/index/logoFull.webp" alt="logo")
            #menu
                input(type="search" class="form-control" placeholder="Search for a movie")
                button(class="btn") Search
                details 
                    summary 
                        img#profile(src='#' alt="profile")
                    ul 
                        li 
                            a.profile(href="") Profile
                        li  
                            a.settings(href="") Settings
                        li 
                            a.logOut(href="") Log out
            
            
                    
             

        div(class="main")
            .content#jumbo 
                h1 New Releases
            h1 My Selection
            .row#mylist
                
                .carousel-container
                    button(class="carouselBtn prev") &lt;
                    .carousel-slide
                        
                        .panel
                            .video
                                
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                  
                    button(class="carouselBtn next") &gt;


            h1 display two    
            .row#two
                
                .carousel-container
                    button(class="carouselBtn prev") &lt;
                    .carousel-slide
                        
                        .panel
                            .video
                                
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                  
                    button(class="carouselBtn next") &gt;
            h1 display three
            .row#three
                
                .carousel-container
                    button(class="carouselBtn prev") &lt;
                    .carousel-slide
                        
                        .panel
                            .video
                                
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                  
                    button(class="carouselBtn next") &gt;
            h1 display four
            .row#four
                
                .carousel-container
                    button(class="carouselBtn prev") &lt;
                    .carousel-slide
                        
                        .panel
                            .video
                                
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                  
                    button(class="carouselBtn next") &gt;
            h1 display five
            .row#five
                .carousel-container
                    button(class="carouselBtn prev") &lt;
                    .carousel-slide
                        
                        .panel
                            .video
                                
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                        .panel
                        .panel 
                        .panel
                  
                    button(class="carouselBtn next") &gt;
            .content#categories
                .cardContainer
                    .card#Action
                        h3 Action
                        img(src='./images/genres/action.jpg', alt='Action')
                    .card#Adventure
                        h3 Adventure
                        img(src='./images/genres/adventure.jpg', alt='Adventure')
                    .card#Animation
                        h3 Animation
                        img(src='./images/genres/animation.jpg', alt='Animation')
                    .card#Biographical
                        h3 Biopic
                        img(src='./images/genres/biopic.jpg', alt='Biographical')
                    .card#Comedy
                        h3 Comedy
                        img(src='./images/genres/comedy.jpg', alt='Comedy')
                    .card#Crime
                        h3 Crime
                        img(src='./images/genres/crime.jpg', alt='Crime')
                    .card#Documentary
                        h3 Documentary
                        img(src='./images/genres/documentary.jpg', alt='Documentary')
                    .card#Drama
                        h3 Drama
                        img(src='./images/genres/drama.jpg', alt='Drama')
                    .card#Family
                        h3 Family
                        img(src='./images/genres/family.jpg', alt='Family')
                    .card#Fantasy
                        h3 Fantasy
                        img(src='./images/genres/fantasy.jpg', alt='Fantasy')
                    .card#Historical
                        h3 Historical
                        img(src='./images/genres/historical.jpg', alt='Historical')
                    .card#Horror
                        h3 Horror
                        img(src='./images/genres/horror.jpg', alt='Horror')
                    .card#Musical
                        h3 Musical
                        img(src='./images/genres/musical.jpg', alt='Musical')
                    .card#Mystery
                        h3 Mystery
                        img(src='./images/genres/mystery.jpg', alt='Mystery')
                    .card#Romance
                        h3 Romance
                        img(src='./images/genres/romance.jpg', alt='Romance')
                    .card#ScienceFiction
                        h3 Sci-Fi
                        img(src='./images/genres/sci-fi.jpg', alt='Science Fiction')
                    .card#Sport
                        h3 Sport
                        img(src='./images/genres/sport.jpg', alt='Sport')
                    .card#Superhero
                        h3 Superhero
                        img(src='./images/genres/superhero.jpg', alt='Superhero')
                    .card#Thriller
                        h3 Thriller
                        img(src='./images/genres/thriller.jpg', alt='Thriller')
                    .card#War
                        h3 War
                        img(src='./images/genres/war.jpg', alt='War')
                .slider-controls
                     button.prev-btn &lt;
                     button.next-btn &gt;
                     
                    
                    
               


    script(src="./javascripts/carousel.js")
    script(src="./javascripts/slider.js")