doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Petflix profile
  link(rel='stylesheet' href='./stylesheets/search/style.css')
header.searchheader
  p search
  .search-container
    input#search.search-input(type='text' placeholder='Search...' autocomplete='off')
    #suggestions.suggestions-list
script(src='./javascripts/search.js')
