@import "mixins";
@import "header";
@import "rowStyle";

/* PAGE */

.main {
  @include flexInFlex;
  height: auto;
  width: 96vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BIG WINDOWS */

.content {
  @include darkBg;
  @include layoutMargins;
  border-radius: 36px;
  border: solid 2px #6c757d;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 10px 10px 5px;
  & .content#categories {
    border: #198754 solid 2px;
    border-radius: 15px;
  }
}

/*  GENRE CARDS */

.cardContainer {
  position: relative;
  display: flex;
  height: 40rem;
  width: calc(100% - 8rem);
  margin: 0 4rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  .card {
    position: relative;
    display: inline-block;
    flex-direction: column;
    flex: 1;
    border: none;
    cursor: pointer;
    height: 40rem;
    max-width: calc(100% / 9);
    min-width: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    transition: 1s ease;
    :hover {
      z-index: 10;
      transform: scaleX(1.4) scaleY(1);
      box-shadow: 10px 10px 5px;
    }
  }
  h3 {
    color: white;
    margin: 2rem;
    justify-content: end;
    bottom: 2rem;
    position: absolute;
  }
  img {
    max-width: 100%;
    height: 100%;
    transition: 0.8s ease;
    object-fit: cover;
  }
}

.card:hover img,
h3 {
  transform: scalex(1.1) scaleY(1);
  z-index: 10;
}

.cardContainer:hover .card:not(:hover) {
  filter: blur(2px) grayscale(0.8);
  transition: 1s ease;
  z-index: 1;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  bottom: 0;
  margin: auto;
  border: none;
  box-sizing: content-box;

  button {
    @include blackBg;
    @include secondaryItem;
    font-size: 2rem;
    width: 4rem;
    height: 100%;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    padding: 5px 20px;
    z-index: 5;
    &:hover {
      @include greenBg;
      @include darkItem;
    }
  }
}
