@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* POSITIONING */
/* COLORS */
@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* POSITIONING */
/* COLORS */
@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Montserrat-Light.ttf", sans-serif;
}
* h1 {
  text-transform: uppercase;
}

body {
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  background-repeat: repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  display: flex;
  position: fixed;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  height: 80px;
  max-height: 5rem;
  white-space: nowrap;
  z-index: 1;
}

#logo img {
  position: relative;
  display: block;
  margin-left: 2rem;
  top: 0.7rem;
  height: 60px;
}

/* RIGHT SIDE */
#menu {
  position: relative;
  display: flex;
  margin: auto;
  white-space: nowrap;
  justify-content: space-around;
  margin-right: 2.5rem;
}

/* PROFILE */
details {
  position: absolute;
  margin-right: 23rem;
  top: -0.8rem;
  list-style: none;
}
details summary {
  list-style: none;
}
details summary img {
  position: relative;
  display: flex;
  margin: auto;
  right: 2rem;
  height: 60px;
  width: 60px;
  border: solid #198754;
}
details ul {
  list-style: none;
  position: absolute;
  background-color: black;
  text-align: justify;
  border-radius: 9px;
  padding: 1rem;
  right: 1.8rem;
}
details ul li a {
  text-decoration: none;
  color: #198754;
}

/* SEARCH */
.search-container {
  min-width: 300px;
  position: relative;
  right: 1rem;
}

.search-container:focus {
  border: none;
  outline-color: #198754;
}

#search {
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  color: #198754;
  height: 50%;
  width: 100%;
  padding: 8px;
  font-size: 1.2rem;
  border: 2px solid #6c757d;
  border-radius: 4px;
}

/* .btn {
  @include darkBg;
  @include greenItem;
  border: none;
  font-size: 1.2rem;
} */
.suggestions-list {
  position: absolute;
  top: 100%;
  max-height: 150px;
  max-width: 300px;
  min-width: 300px;
  left: 5px;
  border: 2px solid black;
  border-top: none;
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  border-radius: 0 0 4px 4px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
}

.suggestion-item {
  padding: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #198754;
}

.suggestion-item:hover {
  background-color: #198754;
  color: #212529;
}

/* FOOTER */
footer {
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%;
  height: 20rem;
}

@font-face {
  font-family: "Montserrat-Light.ttf";
  src: url(./images/fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* POSITIONING */
/* COLORS */
/* CATALOGUE ROWS */
h1 {
  color: #198754;
  top: 2.7rem;
  font-size: 2rem;
  position: relative;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  left: 5rem;
}

.row {
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 1rem;
  height: 15rem;
  width: 100%;
  overflow-x: hidden;
  border-radius: 30px;
  border: solid 2px #6c757d;
  box-shadow: 10px 10px 5px;
}

/* CAROUSEL */
.carousel-container {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 96vw;
  margin: auto;
  align-content: center;
  justify-self: center;
  z-index: 0;
  overflow-x: hidden;
}
.carousel-container .carouselBtn {
  position: absolute;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;
  height: 100%;
  width: 4rem;
  font-size: 2rem;
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  color: white;
  border: none;
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
}
.carousel-container .carouselBtn.prev {
  left: 0;
}
.carousel-container .carouselBtn.next {
  right: 0;
}
.carousel-container .carouselBtn:hover {
  background-color: #198754;
}

.carousel-slide {
  position: relative;
  display: flex;
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  flex-direction: row;
  height: 100%;
  width: 93%;
  justify-content: start;
  align-items: center;
  left: 4rem;
  z-index: 0;
  transition: margin-left 0.5s ease;
  overflow: hidden;
}

/* MOVIE PANELS */
.panel {
  position: relative;
  border: 2px #198754 solid;
  border-radius: 10px;
  margin: 0.9rem;
  justify-items: flex-start;
  height: 14rem;
  min-width: 25rem;
  transition: opacity 2s ease-in-out;
  box-sizing: border-box;
  padding: 10px;
}

video {
  width: 100%;
  padding-top: 56.25%;
}

/* PAGE */
.main {
  position: relative;
  display: flex;
  margin: auto;
  height: auto;
  width: 96vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BIG WINDOWS */
.content {
  background-color: #212529;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  margin-top: 1rem;
  border-radius: 36px;
  border: solid 2px #6c757d;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 10px 10px 5px;
}
.content .content#categories {
  border: #198754 solid 2px;
  border-radius: 15px;
}

/*  GENRE CARDS */
.cardContainer {
  position: relative;
  display: flex;
  height: 40rem;
  width: calc(100% - 8rem);
  margin: 0 4rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.cardContainer .card {
  position: relative;
  display: inline-block;
  flex-direction: column;
  flex: 1;
  border: none;
  cursor: pointer;
  height: 40rem;
  max-width: 11.1111111111%;
  min-width: 11.1111111111%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  transition: 1s ease;
}
.cardContainer .card :hover {
  z-index: 10;
  transform: scaleX(1.4) scaleY(1);
  box-shadow: 10px 10px 5px;
}
.cardContainer h3 {
  color: white;
  margin: 2rem;
  justify-content: end;
  bottom: 2rem;
  position: absolute;
}
.cardContainer img {
  max-width: 100%;
  height: 100%;
  transition: 0.8s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.card:hover img,
h3 {
  transform: scalex(1.1) scaleY(1);
  z-index: 10;
}

.cardContainer:hover .card:not(:hover) {
  filter: blur(2px) grayscale(0.8);
  transition: 1s ease;
  z-index: 1;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  bottom: 0;
  margin: auto;
  border: none;
  box-sizing: content-box;
}
.slider-controls button {
  background-color: #000;
  background-origin: border-box;
  background-clip: border-box;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-repeat: repeat;
  color: #6c757d;
  font-size: 2rem;
  width: 4rem;
  height: 100%;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  padding: 5px 20px;
  z-index: 5;
}
.slider-controls button:hover {
  background-color: #198754;
  color: #212529;
}/*# sourceMappingURL=homeStyle.css.map */